<div class="sub-footer">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="sub-footer-inner sub-footer-left">
            <ul>
              <li class="zerostatic"><a href="mailto:mitbtc-expo@mit.edu">mitbtc-expo@mit.edu</a></li>
            </ul>
        </div>
        <div class="sub-footer-inner sub-footer-right">
              <ul>
                <li class="zerostatic"><a href="http://bitcoin.mit.edu" target="_blank">bitcoin.mit.edu</a></li>
              </ul>
            </div>
        </div>
    </div>
  </div>
</div>