@media only screen and (min-width : 768px) {
  h1 {
    font-size: 6rem;
  }
  #navigation {
    display: flex;
    align-items: center;
    margin: 0;
  }
}


#navigation {
  background: none;
  width: 100%;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.65);
  z-index: 2000;
  // transform: translateY(-100%);
  transition: 0.2s transform cubic-bezier(.3,.73,.3,.74);
  position: fixed;

  &.hackathon {
    background: #06032b !important;
  }

  &.women {
    background: #1a0012 !important;
  }

  &.down {
    // transform: translateY(0);
    background: @bodyBackground;
  }

  .navbar-brand {
    text-align: left;
    color: @red;

    &.hackathon {
      color: #a79600;
    }
  }
  .navbar-brand:hover {
    text-decoration: none;
  }

  a.active {
    background: #6b0700;
    color: #fffc27;

    &.hackathon {
      background: #6b4000;
    }
  }
}

#main {
  height: 100%;
  width: 100%;
}
