/*
*   PAGE | SCHEDULE
*/

.page-schedule{
    position: relative;
    background: url(../../images/pages/schedule/bck.jpg) 50% 0 no-repeat fixed;
    .background-size(cover);
    
    padding-top: 90px;
    padding-bottom: 130px;

    .container {
        z-index: 2;
        position: relative;
    }
}