<!DOCTYPE html>
<html lang="en">
<head>
  <!-- META DATA -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
  <meta name="description" content="MIT Bitcoin Expo 2017">

  <title>MIT Bitcoin Hackathon 2018</title>

  <!-- STYLESHEETS -->
  <link rel="stylesheet" href="./assets/style/bootstrap.min.css" type="text/css" />
  <link rel="stylesheet" href="./assets/style/index.css?v=1.2" type="text/css" />
  <link rel="icon" type="image/x-icon" href="./assets/images/ico/favicon.ico">

  <!-- GOOGLE WEB FONTS -->
  <link href='http://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
</head>

<body>
  <!-- NAVIGATION -->
  <nav id="navigation" class="hackathon navbar navbar-inverse down">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand hackathon" href="/">MIT BITCOIN EXPO</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div id="navbar" class="navbar-collapse collapse" aria-expanded="false">
      <ul class="nav navbar-nav">
        <li><a href="women.html">Women's Event</a></li>
        <li><a href="#page-about-h" class="hackathon">About</a></li>
        <li><a href="#page-schedule" class="hackathon">Schedule</a></li>
        <li><a href="#page-sponsors" class="hackathon">Sponsors</a></li>
      </ul>
    </div>
  </nav>
  <!-- END NAVIGATION -->

  <main id="main">
    <!-- PAGE | WELCOME -->
    <div class="pages white page-welcome-h fullheight" id="page-welcome-h">
      <div class="center">
        <div class="line-divider" id="banner">
          <h1>!=$</h1>
        </div>
        <h2>MIT Bitcoin Hackathon 2018</h2>
        <h3>March 16-17 | <a href="">MIT Campus - Stata Center</a></h3>

        <div class="social-icons sicon-white bordered">
          <a href="https://www.facebook.com/MITBitcoinClub" class="sicon-facebook"><i>Facebook</i></a>
          <a href="https://twitter.com/mitbitcoinclub" class="sicon-twitter"><i>Twitter</i></a>
          <a href="https://www.youtube.com/user/MITBitcoinClub" class="sicon-youtube"><i>Youtube</i></a>
        </div>


      </div>
    </div>
    <!-- END PAGE | Welcome -->

    <!-- PAGE | COMPETITION -->
    <div class="pages page-about-h" id="page-about-h">
      <div class="center">
        <div class="container">
          <header id="schedule">
            <div class="line-divider">
              <h1>About</h1>
            </div>
          </header>
          <div class="row-fluid">
              <center><p>
              Join the MIT Bitcoin Expo in building our decentralized future. We will be bringing together 500 developers, hackers, and industry expert from around the world to compete in a 24-hour hackathon to build the best decentralized technology for Web 3.0.

                This year, the MIT Bitcoin Hackathon will be taking place March 16-17 at the Ray and Maria Stata Center. We'll be providing hackers with free food, travel reimbusements, prizes, and opportunities to present their projects to top industry judges at the annual MIT Bitcoin Expo.
              </p>

              <p>Get ready to push forward the future of development.
              </p>
              <p>Prizes:<br>
                Grand Prize: $5,000<br>
                Second Place: $4,000<br>
                Third Place: $3,000
              </p></center>
              <br>
              <center><h2><a href="https://docs.google.com/forms/d/e/1FAIpQLSdzq_RCOAO_zct88I8kFQYGXRTGthEPFlix9ySTV6foZeG4zA/viewform"><button>Register</button></a></h2></center>
              </p>
          </div>
        </div>
      </div>
    </div>
    <!-- END PAGE | COMPETITION -->

    <!-- PAGE | SCHEDULE -->
    <div class="pages white page-schedule" id="page-schedule">
      <div class="container">
        <header id="schedule">
          <h3 class="line-divider">Hackathon Schedule</h3>
        </header>
        <h2>Friday</h2>
        <table class="table table-condensed col-md-8">
          <thead>
            <tr>
              <th><h4>Time</h4></th>
              <th><h4>Topic</h4></th>
              <th><h4>Location</h4></th>
              <th><h4>Led By</h4></th>
            </tr>
          </thead>
          <tbody>
            {% for index, [time,topic,location,speaker] in enumerate(day1_h) %}
            <tr>
              <td>{{time}}</td>
              <td>{{topic}}</td>
              <td>{{location}}</td>
              <td>{{speaker}}</td>
            </tr>
            {% end %}
          </tbody>
        </table>
        <h2>Saturday</h2>
        <table class="table table-condensed">
          <thead>
            <tr>
              <th><h4>Time</h4></th>
              <th><h4>Topic</h4></th>
              <th><h4>Location</h4></th>
            </tr>
          </thead>
          <tbody>
            {% for index, [time,topic,location,speaker] in enumerate(day2_h) %}
            <tr>
              <td>{{time}}</td>
              <td>{{topic}}</td>
              <td>{{location}}</td>
            </tr>
            {% end %}
          </tbody>
        </table>
      </div>
    </div>
    <!-- END PAGE | SCHEDULE -->

    <!-- PAGE | SPONSORS -->
    <div class="pages page-sponsors" id="page-sponsors">
      <div class="container">
        <header id="schedule">
          <div class="line-divider">
            <h1>Sponsors</h1>
          </div>
        </header>
        <div class="row-fluid">
          <div class="center">
            <h4>PLATINUM LEVEL</h4>
            {% for index, (image,name,url) in enumerate(platinumsponsors) %}
            <a href="{{url}}"><img class="sponsor-platinum" src="{{image}}" alt="{{name}}"></img></a>
            <br/><br/>
            {% end %}
            </br></br>
            <h3>GOLD LEVEL</h3>
            {% for index, (image,name,url) in enumerate(goldsponsors) %}
            <a href="{{url}}"><img class="sponsor-gold" src="{{image}}" alt="{{name}}"></img></a>
            {% end %}
            </br></br>
             <h3>SILVER LEVEL</h3>
             {% for index, (image,name,url) in enumerate(silversponsors) %}
             <a href="{{url}}"><img class="sponsor-silver" src="{{image}}" alt="{{name}}"></img></a>
             {% end %}
             </br></br>
           <h3>ACADEMIC SPONSOR</h3>
           {% for index, (image,name,url) in enumerate(academicsponsors) %}
           <a href="{{url}}"><img class="sponsor-academic" src="{{image}}" alt="{{name}}"></img></a>
           {% end %}
           <br/><br/>
          </div>
        </div>
      </div>
      <div id="map-image">
        <img src="assets/images/pages/contact/bck.jpg">
      </div>
    </div>
    <!-- END PAGE | SPONSORS -->

    <!-- PAGE | CONTACT -->
    <div class="pages page-contact-h " id="page-contact-h">
      <div class="center">
        <div class="container">
          <!--logo here, when we have a logo -->
          <div class="media">
            <a href="mailto:mitbtc-officers@mit.edu">mitbtc-expo@mit.edu</a> | <a href="https://titleix.mit.edu/">Code of Conduct</a>
            </div>
        </div>
      </div>
    </div>
    <!-- END PAGE | CONTACT -->

  </main>

  <!-- JQUERY -->
  <script src="assets/js/jquery-2.2.4.min.js" type="text/javascript"></script>

  <!-- TWITTER BOOTSTRAP -->
  <script src="assets/js/bootstrap.min.js" type="text/javascript"></script>

  <!-- PLUGINS -->
  <script src="assets/js/plugins/jquery.fixedonlater.min.js" type="text/javascript"></script>
  <script src="assets/js/plugins/scrollspy.js" type="text/javascript"></script>

  <!-- INITIALIZE -->
  <script src="assets/js/application.js" type="text/javascript"></script>

</body>

</html>
