html,body,h1,h2,h3,h4,h5,h6 {
  font-family: 'Lato', sans-serif;
  color: #fff;
}

.center {
  position: relative;
  margin: auto;
  text-align: center;
}

.img-circle {
  padding: 0;
}

.sponsor-img {
  padding: 20px;
}