
<!DOCTYPE html>
<html lang="en">

<head>
	<!-- META DATA -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="description" content="MIT Bitcoin Expo 2015">

	<title>MIT Bitcoin Expo 2015</title>

	<!-- STYLESHEETS -->
	<link rel="stylesheet" href="assets/style/bootstrap.css" type="text/css" />
	<link rel="icon" type="image/x-icon" href="./assets/images/ico/favicon.ico">

	<!-- GOOGLE WEB FONTS -->
	<link href='http://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
	<style>
		html,
		body,
		h1,
		h2,
		h3,
		h4,
		h5,
		h6 {
			font-family: 'Lato', sans-serif;
		}
        button {
            background: #cf624f;
            background-image: -webkit-linear-gradient(top, #cf624f, #7a2828);
            background-image: -moz-linear-gradient(top, #cf624f, #7a2828);
            background-image: -ms-linear-gradient(top, #cf624f, #7a2828);
            background-image: -o-linear-gradient(top, #cf624f, #7a2828);
            background-image: linear-gradient(to bottom, #cf624f, #7a2828);
            color: #ffffff;
            font-family: Georgia, serif;
            font-size: 64px;
            padding: 20px 20px 30px 20px;
            text-decoration: none;
            border: none;
            outline: none;
        }
    </style>
</head>

<body>
	<!-- NAVIGATION -->
	<nav class="fixed-top" id="navigation">
		<div class="container">
			<div class="row-fluid">
				<div class="span12 center">
					<!-- LOGO for when we have one-->
					<a class="brand pull-left" href="./">
						MIT BITCOIN EXPO
					</a>
					<!-- END LOGO -->

					<!-- MOBILE MENU STUFF -->
					<div class="mobile-menu" data-toggle="collapse" data-target=".nav-collapse">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</div>
					<!-- END MOBILE MENU STUFF -->

					<!-- MAIN MENU -->
					<ul id="main-menu" class="nav-collapse collapse">
						<li><a href="#page-details">Details</a>
						</li>
						<li><a href="#page-speakers">Speakers</a>
						</li>
						<li><a href="#page-schedule">Schedule</a>
						</li>
						<li><a href="#page-contact">Contact</a>
						</li>
					</ul>
					<!-- END MAIN MENU -->

					<!-- SOCIAL ICONS -->
					<div class="social-icons hover-big pull-right">
						<a href="https://www.facebook.com/MITBitcoinClub" class="sicon-facebook"><i>Facebook</i></a>
						<a href="https://twitter.com/mitbitcoinclub" class="sicon-twitter"><i>Twitter</i></a>
						<a href="https://www.youtube.com/user/MITBitcoinClub" class="sicon-youtube"><i>Youtube</i></a>
					</div>
					<!-- END SOCIAL ICONS -->
				</div>
			</div>
		</div>
	</nav>
	<!-- END NAVIGATION -->

	<!-- PAGE | WELCOME -->
	<div class="pages white page-welcome" id="page-welcome">
		<div class="overlay"></div>
		<!-- shit in da center -->
		<div class="centralized">
			<div class="container">
				<div class="row-fluid">
					<div class="span12 center">
						<!--logo here, when we have a logo -->
						<div class="line-divider" id="banner">
							<h1>MIT BITCOIN EXPO</h1>
						</div>
						<p> March 07 - 08, 2015</p>

						<div class="social-icons sicon-white bordered">
							<a href="https://www.facebook.com/MITBitcoinClub" class="sicon-facebook"><i>Facebook</i></a>
							<a href="https://twitter.com/mitbitcoinclub" class="sicon-twitter"><i>Twitter</i></a>
							<a href="https://www.youtube.com/user/MITBitcoinClub" class="sicon-youtube"><i>Youtube</i></a>
						</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END PAGE | Welcome -->

    <!-- PAGE | Registration -->
    <div class="pages black page-details" id="page-details">
      <div class="container"></div>
      <!-- shit in da center -->
      <header>
         <h4 class="line-divider">Details</h4>
         <h1>Registration</h1>
     </header>
     <div class="row">
     <div class="span8 offset4">
          <table class="table table-condensed">
             <thead>
                <tr>
                   <th></th>
                   <th>DAY 1</th>
                   <th>DAY 2</th>
               </tr>
           </thead>
           <tr>
            <th>DATE:</th>
            <td>Saturday, March 7, 2015</td>
            <td>Sunday, March 8, 2015</td>
        </tr>
        <tr>
            <th>TIME:</th>
            <td>9:00 a.m. – 5:00 p.m.</td>
            <td>9:00 a.m. – 5:00 p.m.</td>
        </tr>
        <tr>
            <th>MAIN ROOM:</th>
            <td>26-100</td>
            <td>26-100</td>
        </tr>
    </table>
</div>
</div>
<div class="center">
    <a href="http://www.eventbrite.com/e/mit-bitcoin-expo-2015-tickets-15644272440"><button type="button">Register Here!</button>
    </a>
</div>
</div>
<!-- END PAGE | Registration -->

<!-- PAGE | SPEAKERS -->
<div class="pages black page-speakers" id="page-speakers">
  <div class="container">
     <!-- Header -->
     <header>
        <h4 class="line-divider">2015 Expo Speakers</h4>
        <h1>Meet Our Speakers</h1>
        <div class="row">
           <div class="span8 offset2">
              <p>
                 /* This page will be updated as more speakers confirm */
             </p>
         </div>
     </div>
 </header>
 <!-- End Header -->

 <!-- Article -->
 <article>
    <!-- List of speakers and short bios-->
    <div id="speakerlist">
       {% for index, (image, name, byline, bio) in enumerate(speakers) %}
       {% if index %3 == 0 %}
       <div class="thumbnails about-items row">
          {% end %}
          <div class="span4 center">
             <div class="item">
                <img class="img-circle" src="{{image}}" alt="MIT BITCOIN EXPO">
            </div>
            <h5>
                {{name}}<br/>
                <small>{{byline}}</small>
            </h5>
            <p class="smallFontBy08"> {{bio}}</p>

        </div>
        {% if index %3 == 2 %}
    </div>
    {% end %}
    {% end %}
    {% if len(speakers) %3 != 2 %}
</div>
{% end %}
</div>
</article>
<!-- End Article -->
<!-- Footer -->
<footer>
 <!-- More speakers -->
 <div class="show-more-cube">
 </div>
</footer>
<!-- End Footer -->
</div>
</div>
<!-- END PAGE | SPEAKERS -->

<!-- PAGE | SCHEDULE -->
        <!--
        <div class="pages white page-twitter" id="page-schedule">
        	<!-- Page overlay -->
            <!--
            <div class="overlay"></div>
            <div class="container">
            	<!-- Header -->
                <!--
                <header>
                    <h4 class="line-divider">2015 Expo Schedule</h4>
                    <h2>DAY 1</h2>
                    <div class="row">
                        <div class="span8 offset2">
                            <p>
                                Schedule subject to change
                            </p>
                        </div>
                    </div>
                </header>
                <!-- End Header -->
                <!-- Schedule Table -->
                <!--
                <table class="table table-condensed">
                    <thead>
                        <tr>
                            <th>Time</th>
                            <th>Topic</th>
                            <th>Speakers</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>10:00 - 11:00</td>
                            <td>Registration and Refreshments</td>
                            <td>MIT Bitcoin Club</td>
                        </tr>
                        <tr>
                            <td>11:00 - 11:10</td>
                            <td>Introduction and Overview</td>
                            <td>Jinglan Wang, Jonathan Harvey Buschel</td>
                        </tr>
                        <tr>
                            <td>11:10 - 11:40</td>
                            <td>Opening Keynote</td>
                            <td>Charlie Lee</td>
                        </tr>
                        <tr>
                            <td>11:40 - 12:00</td>
                            <td>Brief Introduction to Bitcoin</td>
                            <td>Andy Ofiesh</td>
                        </tr>
                        <tr>
                            <td>12:00 - 12:40</td>
                            <td>Bitcoin Finance and Trading</td>
                            <td>Joshua Lim, Juthica Chou, TBD</td>
                        </tr>
                        <tr>
                            <td>12:40 - 1:20</td>
                            <td>Fireside Chat: The Economics of Innovation</td>
                            <td>Constance Choi, Christian Catalini</td>
                        </tr>
                        <tr>
                            <td>1:20 - 2:00</td>
                            <td>Bridging the Gap</td>
                            <td>Elizbeth Stark, Jerry Brito</td>
                        </tr>
                        <tr>
                            <td>2:00 - 2:30</td>
                            <td>Networking Break</td>
                            <td>MIT Bitcoin Club</td>
                        </tr>
                        <tr>
                            <td>2:30 - 3:10</td>
                            <td>Discussion: Security and Usability</td>
                            <td>Melanie Shapiro, Will O'Brien</td>
                        </tr>   
                        <tr>
                            <td>3:10 - 3:50</td>
                            <td>Crowdfunding</td>
                            <td>TBA</td>
                        </tr>  
                        <tr>
                            <td>3:50 - 4:20</td>
                            <td>Mainstreaming Bitcoin</td>
                            <td>Jeremy Allaire, Joi Ito</td>
                        </tr> 
                        <tr>
                            <td>4:20 - 4:50</td>
                            <td>Student Perspectives</td>
                            <td>Richard Ni, Sam Udotong</td>
                        </tr>  
                        <tr>
                            <td>4:50 - 5:00</td>
                            <td>Wrap Up</td>
                            <td>Jinglan Wang, Jonathan Harvey Buschel</td>
                        </tr>                      
                    </tbody>
                </table>-->
                <!-- End Schedule Table-->
                <!-- Header -->
                <!--

                <header>
                    <h2>DAY 2</h2>
                </header>
                <table class="table table-condensed">
                    <thead>
                        <tr>
                            <th>Time</th>
                            <th>Topic</th>
                            <th>Speakers</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>10:00 - 10:10</td>
                            <td>Introduction and Overview</td>
                            <td>Jinglan Wang, Jonathan Harvey Buschel</td>
                        </tr>
                        <tr>
                            <td>10:10 - 10:40</td>
                            <td>Opening Keynote</td>
                            <td>Gavin Andresen</td>
                        </tr>
                        <tr>
                            <td>10:40 - 11:20</td>
                            <td>Bitcoin 2.0</td>
                            <td>Peter Todd, Matt Corallo</td>
                        </tr>
                        <tr>
                            <td>11:20 - 11:50</td>
                            <td>Cryptocurrency Courses</td>
                            <td>Arvind Narayanan</td>
                        </tr>
                        <tr>
                            <td>11:50 - 12:20</td>
                            <td>Researching Bitcoin</td>
                            <td>Andrew Miller, Elaine Shi</td>
                        </tr>
                        <tr>
                            <td>12:20 - 12:40</td>
                            <td>ZeroCash</td>
                            <td>Madars et al</td>
                        </tr>
                        <tr>
                            <td>12:40 - 1:10</td>
                            <td>Keynote</td>
                            <td>Peter Todd</td>
                        </tr>
                        <tr>
                            <td>1:10 - 1:40</td>
                            <td>Networking Break</td>
                            <td>MIT Bitcoin Club</td>
                        </tr>
                        <tr>
                            <td>1:40 - 2:10</td>
                            <td>Bitcoin 2.0</td>
                            <td>Matt Corallo</td>
                        </tr>   
                        <tr>
                            <td>2:10 - 3:00</td>
                            <td>APIs and Workshops</td>
                            <td>Andy Ofiesh, Jeremy Rubin</td>
                        </tr>
                        <tr>
                            <td>3:00 - 3:10</td>
                            <td>Wrap Up</td>
                            <td>Jinglan Wang, Jonathan Harvey Buschel</td>
                        </tr>                    
                    </tbody>
                </table>
                <!-- End Schedule Table-->
                <!--
            </div>
        </div>
    </div>
    <!-- END PAGE | SCHEDULE -->

    <!-- PAGE | CONTACT -->
    <div class="pages black-bg white page-contact" id="page-contact">
    	<div class="container">
    		<!-- Header -->
    		<header>
    			<h4 class="line-divider">Contact</h4>
    			<h1>Questions? Comments?</h1>
    			<div class="row">
    				<div class="span8 offset2">
    					<p>
    						Want to become a sponsor? Have cool research you want to present? 
    					</p>
    				</div>
    			</div>
    		</header>
    		<!-- End Header -->

    		<!-- Start Article -->
    		<article>
    			<div class="row-fluid">
    				<!-- Contact information -->
    				<div class="span5 offset1">
    					<div class="media">
    						<div class="social-icons sicon-white pull-left">
    							<a href="http://whereis.mit.edu/" class="sicon-place"><i>Location</i></a>
    						</div> 
    						<div class="media-body smallFontBy08">
    							Massachusetts Institute of Technology 
    						</div>
    					</div>
    					<div class="media">
    						<div class="social-icons sicon-white pull-left">
    							<a href="http://bitcoin.mit.edu" class="sicon-place"><i>Location</i></a>
    						</div> 
    						<div class="media-body smallFontBy08">
    							MIT Bitcoin Club Website
    						</div>
    					</div>
    					<div class="media">
    						<div class="social-icons sicon-white pull-left">
    							<a href="mailto:mitbtc-officers@mit.edu" class="sicon-mail"><i>email</i></a>
    						</div> 
    						<div class="media-body smallFontBy08">
    							mitbtc-officers@mit.edu
    						</div>
    					</div>
    					<br/>
    					<br/>
    					<br/>
    				</div>
    				<!-- End Contact information -->
    			</div>
    		</article>
    		<!-- End Article -->

    	</div>

    	<!-- Background map image -->
    	<div id="map-image">
    		<img src="assets/images/pages/contact/map_bck.jpg" alt="MIT Bitcoin Club">
    	</div>
    </div>
    <!-- END PAGE | CONTACT -->




    <!-- JQUERY -->
    <script src="assets/js/jquery-1.10.2.min.js" type="text/javascript"></script>


    <!-- TWITTER BOOTSTRAP -->
    <script src="assets/js/bootstrap/bootstrap.min.js" type="text/javascript"></script>
    <!--[if lt IE 9]>
        <script src="assets/js/bootstrap/html5shiv.js"></script>
        <![endif]-->


        <!-- PLUGINS -->
        <script src="assets/js/plugins/jquery.centralized.min.js" type="text/javascript"></script>
        <script src="assets/js/plugins/jquery.fixedonlater.min.js" type="text/javascript"></script>
        <script src="assets/js/plugins/jquery.hashloader.min.js" type="text/javascript"></script>
        <script src="assets/js/plugins/jquery.nav.min.js" type="text/javascript"></script>
        <script src="assets/js/plugins/jquery.scrollTo.min.js" type="text/javascript"></script>


        <!-- INITIALIZE -->
        <script src="assets/js/application/application.min.js" type="text/javascript"></script>

    </body>

    </html>
